[submodule "themes/rusty-typewriter"]
	path = themes/rusty-typewriter
	url = https://github.com/math-queiroz/rusty-typewriter.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
